.invite-title {
    color: #de3746;
}

.submit-btn {
    color: #de3746;
    text-decoration: none;
}

.submit-btn:hover {
    color: #06e89f;
}

.form-text {
    color: #ffdd57;
}

.form-label {
    color: #de3746;
}

.logo-img {
    max-width: 300px;
    max-height: 300px;
    padding: 0;
    margin: 0;
}

.important-shit {
    color: #ffdd57;
}